.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage
/test/e2e/reports
selenium-debug.log
/src/testing/
log/
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
gt.sqlite
.env
.env.*
package-lock.json
.vscode/
db/~*
seed_data.local.xlsx
*~$seed_data.*.xlsx
src/database/seeders/utils/local/*
coverage/
~*
misc/
